<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-ocr-alpha-mlkit" version="1.0.2"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Cordova OCR Alpha MLKit</name>
    <description>Static-image OCR via ML Kit on-device text recognition (no Firebase)</description>
    <license>MIT</license>
    <keywords>cordova,ocr,mlkit,text-recognition</keywords>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
    </engines>

    <js-module src="www/ocr.js" name="Ocr">
        <clobbers target="cordova.plugins.Ocr" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Ocr">
                <param name="android-package" value="com.example.ocr.Ocr" />
            </feature>
        </config-file>

        <source-file src="src/android/Ocr.java" target-dir="src/com/example/ocr" />
        <framework src="com.google.mlkit:text-recognition:16.0.1" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Ocr">
                <param name="ios-package" value="Ocr" />
            </feature>
        </config-file>

        <header-file src="src/ios/Ocr.h" />
        <source-file src="src/ios/Ocr.m" />

        <pod name="GoogleMLKit/TextRecognition" spec="8.0.0" />
    </platform>
</plugin>
    <header-file src="src/ios/Ocr.h" />
    <pod name="MLKitTextRecognition" />
    <pod name="MLKitTextRecognitionCommon" />
  </platform>
</plugin>
